*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* tamaño header  */
.header{
    width: 100%;
    height: 40vh;
    position: relative;
    
}
.contenedor-titulos{
    /* background: white; */
    color:#fff;
    text-align: left;
    position: absolute;
    margin-top: 40px;
    margin-left: 10%;
    width: 12%;
    
}
.contenedor-titulos h3{
    font-size: 13px;
    margin-top: 2px;
}
/* boton iniciar sesion */
.sesion{
    text-decoration:none;
    color: #fff;
    float: right;
    border: 1px solid red;
    border-radius: 8px;
    margin-right: 10%;
    margin-top: 20px;
    font-size: 13px;
    padding: 4px 4px;
}
/* pesudoelementos boton */
.sesion:visited{
    color:#fff;
}
.sesion:hover{
    background: rgba(255, 255, 255, 0.74);
    color:#000;
    transition: all ease-in-out .3s;
}
/* boton reservar */
.btnTrailer{
    display:inline-block;
    text-decoration:none;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 4px;
    margin-left: 10%;
    margin-top: 100px;
    
}
 /* posicion menu */


/* ====================MENU NAVEGACION========================== */
.navbar{
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    width: 80%;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    padding: 0 px;
    position: relative;
  background: yellow;
    top: -40px;
    left: 10%;
    z-index: 10;
   /*  overflow: hidden; */
    box-sizing: border-box; /* Se usa para que el padding se tome de su contenedor (obligado) */
}
.navbar a{
    text-decoration: none;
    color: #000;
    /* background-color: blue; */
}
.navbar a.navbar-brand{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.navbar a.navbar-brand span{
    font-size: 28px;
    font-weight: 700;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit; 
    padding: 0 1px;
    margin-top: 0;        
    /* background: black; */
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 2px;
}
.navbar ul li a:hover{
    background-color: rgba(7, 7, 7, 0.3);

}
.navbar .navbar-toggler{
    display: none;
}
/* =============RESPONSIVE MENU=============== */
    @media(max-width:1366px){
    
        .contenedor-titulos{
            display: block;
            width: 200px;
            text-align: left;
            margin-top: 15%;
        }
        .navbar ul{
            width: 100%;
            padding: 0;
            margin-top: 0px;
            background-color: rgba( 0  , 0, 0, .9);
            /* background-color: rgba(128, 180, 31, 0.9); */
            /* height: auto; */
            height: 100vh;
            max-height: 0;
            overflow: hidden;
            transition: all ease-in-out .3s;
            
        }
        .navbar ul.open{
            max-height: 100vh
        }
        .navbar ul li{
            width: 100%;
            /* border-bottom: 1px solid rgba(255, 255, 255, .3); */
        }
        .navbar ul li a{
            padding: 0;
            color: #fff;
        }
        .navbar .navbar-toggler{
            display: block;
            position: absolute;
            height: 40px;
            top: 20px;
            right: 20px;
            background-color: transparent;
            color: #fff;
            border: none;/* cambiar el borde del  boton  */   
            border-radius: 3px;
            border: 3px solid #000;
            outline: none;
            padding: 0 5px;
            cursor: pointer;  
        }
        .navbar .navbar-toggler span,
        .navbar .navbar-toggler span::before,
        .navbar .navbar-toggler span::after{
            display: block;
            content:' ' ;
            background-color: #000;
            height: 3px;
            width: 28px;
            border-radius: 4px;
            transition: all ease-in-out .3s;
        }
        .navbar .navbar-toggler span::before{
            transform: translateY(-8px)
        }
        .navbar .navbar-toggler span::after{
            transform: translateY(5px)
        }
        .navbar .navbar-toggler .open-navbar-toggler span{
            background-color: transparent;
        }
        .navbar .navbar-toggler .open-navbar-toggler span::before{
            transform: translateY(0px) rotate(45deg);
        }
        .navbar .navbar-toggler .open-navbar-toggler span::after{
            transform: translateY(-3px) rotate(-45deg) ;
        }
        
    }
@media (max-width:768px){
.navbar{
    padding: 0;
    position: relative;
    margin-left: -10%;
    width: 100%;
    
}

.contenedor-titulos{
    display: block;
    width: 200px;
    text-align: left;
    margin-top: 15%;
}
.navbar ul{
    width: 100%;
    padding: 0;
    margin-top: 0px;
    background-color: rgba( 0  , 0, 0, .9);
    height: auto;
    /* height: 100vh; */
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .3s;
    
}
.navbar ul.open{
    max-height: 100vh
}
.navbar ul li{
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, .3); */
}
.navbar ul li a{
    padding: 0;
    color: #fff;
}
.navbar a.navbar-brand{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 10%;
}
.navbar .navbar-toggler{
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 10%;
    background-color: transparent;
    color: #fff;
    border: none;/* cambiar el borde del  boton  */   
    border-radius: 3px;
    border: 3px solid #000;
    outline: none;
    padding: 0 5px;
    cursor: pointer;  
}
}
/* =============FIN RESPONSIVE MENU=============== */
/* ====================INICIA COTENIDO============================== */
main{
    color: black;
    position: relative;
    height: 1500px;
    background: red;
    width: 80%;
    margin-left: 10%;
    top: -40px;
}
.section-articulos{
    width: 100%;
    height: 300px;
    /* background: blue; */
    position: absolute;
}
.section-articulos h3{ 
    text-align: center;
    margin-top: 20px;
}



/* ======SLIDER==== */

.swiper-container {
    width: 100%;
    height: 350px; /* aqui pueden cambiar el tamaño del slider */
    
  }
  .swiper-slide {
      margin-top:40px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  /* inicio slider */
.slider-publicidad{
    background: black;
    position: absolute;
    width: 100%;
    height: 300px;
    background: url(../imagenes/img1f4.jpg) ;
    background-size: 100% 500px;
    /* z-index: -1; */
    animation: slide 20s infinite;   /* declaramos  animacion con nombre slide que dura 20 segundos y es infinita */
    margin-top: 20px;
}
@keyframes slide{
    0%{
        background: url(../imagenes/img2f4.jpg);
        background-size: 100% 500px;
    }
    50% {
        background: url(../imagenes/img3f4.jpg);
        background-size: 100% 500px;
    
    }
    60% {
        background: url(../imagenes/img3f4.jpg);
        background-size: 100% 500px;
    
    }
    100% {
        background: url(../imagenes/img4-f5.jpg);
        background-size: 100% 500px;
    }
}
/* final slider */
