body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background: red;
}
 /* tamaño header  */
.header{
    width: 100%;
    height: 40vh;
    position: absolute;
}
.contenedor-titulos{
    /* background: white; */
    color:#fff;
    text-align: left;
    position: relative;
    margin-top: 40px;
    margin-left: 10%;
    width: 12%;
}
.contenedor-titulos h3{
    font-size: 13px;
    margin-top: -10px;
}
.sesion{
    text-decoration:none;
    color: #fff;
    float: right;
    border: 1px solid red;
    border-radius: 8px;
    margin-right: 10%;
    margin-top: 20px;
    font-size: 13px;
    padding: 4px 4px;
}
.sesion:visited{
    color:#fff;
}
.sesion:hover{
    background: rgba(255, 255, 255, 0.74);
    color:#000;
    transition: all ease-in-out .3s;
}
.btnTrailer{
    display:inline-block;
    text-decoration:none;
    color: #fff;
    border: 1px solid white;
    border-radius: 7px;
    font-size: 15px;
    padding: 4px 4px;
    margin-left: 10%;
    margin-top: 10px;
}
 /* posicion menu */


/* ====================MENU NAVEGACION========================== */
.navbar{
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    width: 80%;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    padding: 0 px;
    position: fixed;
    top: 35vh;
    left: 10%;
    z-index: 10;
   /*  overflow: hidden; */
    box-sizing: border-box; /* Se usa para que el padding se tome de su contenedor (obligado) */
}
.navbar a{
    text-decoration: none;
    color: #000;
    background-color: blue;
}
.navbar a.navbar-brand{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}
.navbar a.navbar-brand span{
    font-size: 28px;
    font-weight: 700;
}
.navbar ul{
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit; 
    padding: 0 1px;
    margin-top: 0;        
    /* background: black; */
}
.navbar ul li{
    display:inline-block;
}
.navbar ul li a{
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 2px;
}
.navbar ul li a:hover{
    background-color: rgba(7, 7, 7, 0.3);

}
.navbar .navbar-toggler{
    display: none;
}
/* =============RESPONSIVE MENU=============== */
    @media(max-width:1366px){
    
        .contenedor-titulos{
            display: block;
            width: 200px;
            text-align: left;
            margin-top: 15%;
        }
        .navbar ul{
            width: 100%;
            padding: 0;
            margin-top: 0px;
            background-color: rgba( 0  , 0, 0, .9);
            /* background-color: rgba(128, 180, 31, 0.9); */
            /* height: auto; */
            height: 100vh;
            max-height: 0;
            overflow: hidden;
            transition: all ease-in-out .3s;
            
        }
        .navbar ul.open{
            max-height: 100vh
        }
        .navbar ul li{
            width: 100%;
            /* border-bottom: 1px solid rgba(255, 255, 255, .3); */
        }
        .navbar ul li a{
            padding: 0;
            color: #fff;
        }
        .navbar .navbar-toggler{
            display: block;
            position: absolute;
            height: 40px;
            top: 20px;
            right: 20px;
            background-color: transparent;
            color: #fff;
            border: none;/* cambiar el borde del  boton  */   
            border-radius: 3px;
            border: 3px solid #000;
            outline: none;
            padding: 0 5px;
            cursor: pointer;  
        }
        .navbar .navbar-toggler span,
        .navbar .navbar-toggler span::before,
        .navbar .navbar-toggler span::after{
            display: block;
            content:' ' ;
            background-color: #000;
            height: 3px;
            width: 28px;
            border-radius: 4px;
            transition: all ease-in-out .3s;
        }
        .navbar .navbar-toggler span::before{
            transform: translateY(-8px)
        }
        .navbar .navbar-toggler span::after{
            transform: translateY(5px)
        }
        .navbar .navbar-toggler .open-navbar-toggler span{
            background-color: transparent;
        }
        .navbar .navbar-toggler .open-navbar-toggler span::before{
            transform: translateY(0px) rotate(45deg);
        }
        .navbar .navbar-toggler .open-navbar-toggler span::after{
            transform: translateY(-3px) rotate(-45deg) ;
        }
        
    }
@media (max-width:768px){
.navbar{
    padding: 0;
    position: absolute;
    margin-left: -10%;
    width: 100%;
    
}

.contenedor-titulos{
    display: block;
    width: 200px;
    text-align: left;
    margin-top: 15%;
}
.navbar ul{
    width: 100%;
    padding: 0;
    margin-top: 0px;
    background-color: rgba( 0  , 0, 0, .9);
    height: auto;
    /* height: 100vh; */
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out .3s;
    
}
.navbar ul.open{
    max-height: 100vh
}
.navbar ul li{
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, .3); */
}
.navbar ul li a{
    padding: 0;
    color: #fff;
}
.navbar a.navbar-brand{
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 10%;
}
.navbar .navbar-toggler{
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 10%;
    background-color: transparent;
    color: #fff;
    border: none;/* cambiar el borde del  boton  */   
    border-radius: 3px;
    border: 3px solid #000;
    outline: none;
    padding: 0 5px;
    cursor: pointer;  
}
}


